GCP_PROJECT_ID=project001-489710
GCP_REGION=asia-southeast1
ARTIFACT_REPO=projects-001
DOCKER_PLATFORM=linux/amd64

BACKEND_SERVICE_NAME=Projects-001-BE
BACKEND_IMAGE_NAME=projects-001-be
BACKEND_SOURCE_DIR=Projects-001-BE
BACKEND_ENV_FILE=cloudrun-backend.env.yaml
BACKEND_ALLOW_UNAUTHENTICATED=true
BACKEND_SERVICE_ACCOUNT=backend-runtime@project001-489710.iam.gserviceaccount.com
BACKEND_CLOUDSQL_INSTANCE=project001-489710:asia-southeast1:project-001
BACKEND_MEMORY=1Gi
BACKEND_CPU=1
BACKEND_MIN_INSTANCES=0
BACKEND_MAX_INSTANCES=3

FRONTEND_SERVICE_NAME=Projects-001-FE
FRONTEND_IMAGE_NAME=projects-001-fe
FRONTEND_SOURCE_DIR=Projects-001-FE
FRONTEND_BUILD_ENV_FILE=cloudrun-frontend.build.env
FRONTEND_ALLOW_UNAUTHENTICATED=true
FRONTEND_SERVICE_ACCOUNT=backend-runtime@project001-489710.iam.gserviceaccount.com
FRONTEND_MEMORY=512Mi
FRONTEND_CPU=1
FRONTEND_MIN_INSTANCES=0
FRONTEND_MAX_INSTANCES=3
